  body {
    background-color: rgb(198, 165, 176);
    font-family:'Special Elite', Georgia, 'Times New Roman', Times, serif;
  }

  h1 {
    font-size: 50px;
    text-emphasis: bold;
    padding-top: 19px;
  }
  
  body {
    background-color: rgb(198, 165, 176);
    font-family: 'Special Elite', Georgia, 'Times New Roman', Times, serif;
  }

  h1 {
    font-family: 'Special Elite', Georgia, 'Times New Roman', Times, serif;
    padding-top: 19px;
  }

  h3 {font-family: 'Special Elite', Georgia, 'Times New Roman', Times, serif; text-align: center; 
      margin-top: 19px; margin-bottom: 19px;
  }

  nav {
    margin-bottom: 27px;
  }
  
  body {
    background-color: rgb(198, 165, 176);
    font-family: 'Special Elite', Georgia, 'Times New Roman', Times, serif;
  }

  h1 {
    font-family: 'Special Elite', Georgia, 'Times New Roman', Times, serif;
    padding-top: 19px;
  }

  h4 {
    margin-top: 19px;
    margin-left: 15px;
    text-align: center;
    padding-top: 19px;
  }

  h2 {
    text-align: center;
  }

  .table {
    margin-top: 27px;
    border-color: black;
  }

  .btn {
    font-size: 1.5rem;
  }

  .theader {
    font-size: 1.25rem;
  }

  .imagehome {
    padding: 71px;
  }

  .container {
    margin-top: 47px;
  }

  .col-md-4 p {
    color: black
  }
   
  .imagehome {
        padding: 71px;
  }